.row {
    display: flex;
  }
  
.column {
    flex: 50%;
}

.center {
    text-align: center;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

img {
    vertical-align: bottom;
    max-height: 100%;
    max-width: 95%;
}

h1 {
    font-size: 120px;
    margin: 0;
}
