<h1 class="center">About</h1>
<div class="row">
    <br>
    <div class="column">
        <span class="helper"></span>
        <img src='https://i.ytimg.com/vi/UupjgJV-6Bk/maxresdefault.jpg'>
    </div>
    <div class="column">
            <br>
            <br>
            <br>
            <br>
            <h3>Currently studying Computer Science at Southern Utah University</h3>
            <h3>Preparing for graduation in Spring of 2020</h3>
            <h3>Raised in Southern Utah</h3>
            <h2>Previous experience includes;</h2>
            <h3>Assistant System Administrator at Southern Utah University</h3>
            <h3>iOS Developer Intern at Anonyome Labs</h3>
            <h3>Software Engineer (Part-Time) at Leavitt Software Solutions</h3>
            <h3>IT Specialist at Southern Utah University</h3>
            <br>

    </div>
</div> 