// .row {
//     display: flex;
//   }
  
// .column {
//     flex: 50%;
// }

// .helper {
//     display: inline-block;
//     height: 100%;
//     vertical-align: middle;
// }

img {
    margin-left:auto;
    margin-right:auto;
    display: block;
    max-height: 100%;
    max-width: 80%;
}

h1 {
    text-align: center;
    font-size: 100px;
    margin: 0;
    margin-top: -20px;
}
