
 <div class="row">
     
    <div class="column2">
        <h1>The Alex Jones</h1>
    </div>
    <div class="column1">
        <span class="helper"></span>
        <img src='https://i.ytimg.com/vi/orImTbGhqiE/maxresdefault.jpg'>
    </div>
  </div> 